<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="gallery.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap"
      rel="stylesheet"
    />
    <title>Gallery</title>
  </head>
  <body id="particles-js">
    <h1><%=typeof user=='undefined'?'':user.username %>'s Gallery</h1>
    <div id="display__photos">
      <%if (user != "undefined") { user.photos.forEach((image,index) => {%>
      <img src="<%=image%>" alt="<%=image%>" class="photos" />
      <%});} else {%>
      <h1>No Photos</h1>
      <%}%>
    </div>
    <div id="add__image">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-circle-x"
          width="84"
          height="84"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="#eb546a"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          id="exit__modal"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <circle cx="12" cy="12" r="9" />
          <path d="M10 10l4 4m0 -4l-4 4" />
        </svg>
      </div>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <h3 color="snow"><%=typeof msg=='undefined'?'':msg %></h3>
        <input name="image" type="file" required />
        <button type="submit" id="add__button">Add</button>
      </form>
    </div>
    <img src="add-image.svg" alt="add" id="add" />
    <div id="view__image">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-circle-x"
        width="84"
        height="84"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="#eb546a"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        id="exit__view"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <circle cx="12" cy="12" r="9" />
        <path d="M10 10l4 4m0 -4l-4 4" />
      </svg>
      <h2>Click Image To Download</h2>
      <a href="" id="download__image" download>
        <img id="view" />
      </a>
      <div>Delete</div>
    </div>
    <script>
      document.getElementById("add").addEventListener("click", () => {
        document.getElementById("add__image").style.display = "flex";
      });
      document.getElementById("exit__modal").addEventListener("click", () => {
        document.getElementById("add__image").style.display = "none";
      });
      const images = Array.from(document.getElementsByClassName("photos"));
      document.getElementById("exit__view").addEventListener("click", () => {
        document.getElementById("view__image").style.display = "none";
      });
      images.forEach((image) => {
        document.getElementById("download__image").href = image.src;
        image.addEventListener("click", () => {
          document.getElementById("view").src = image.src;
          document.getElementById("view__image").style.display = "flex";
        });
      });
    </script>
  </body>
</html>
