* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  background-color: rgba(235, 84, 106, 0.9);
}

body {
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}

h1 {
  padding: 3rem 0;
  text-align: center;
  color: white;
  letter-spacing: 0.2rem;
}

#add {
  height: 10vh;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  cursor: pointer;
}

#add__image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

#add__image form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  padding: 0 2rem;
}

#add__image form input {
  background-color: snow;
  cursor: pointer;
}

#add__image form button {
  padding: 0.5rem 5rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  background-color: rgba(235, 84, 106, 0.9);
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: snow;
  cursor: pointer;
}

#exit__modal {
  height: 7vh;
  cursor: pointer;
}

#add__image div {
  width: 30rem;
  display: flex;
  justify-content: flex-end;
}

#display__photos img {
  height: 30vh;
  width: 30rem;
  margin: 1rem;
  border: 0.7rem groove snow;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: none;
}

#display__photos {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
}

#view__image {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

#download__image {
  width: 90rem;
  height: 70vh;
  margin: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0.1rem solid rgb(235, 84, 106);
}

#download__image img {
  width: 100%;
  max-height: 100%;
}

#view__image div {
  color: snow;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  background-color: rgba(235, 84, 106, 1);
  padding: 0.5rem 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

#exit__view {
  cursor: pointer;
}

#view__image h2 {
  letter-spacing: 0.2rem;
  color: white;
}
