* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
}

h1 {
  padding: 3rem 0;
  text-align: center;
  color: white;
  letter-spacing: 0.2rem;
}

#add {
  height: 10vh;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  cursor: pointer;
}

#add__image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#add__image form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  padding: 0 2rem;
}

#add__image form input {
  background-color: snow;
  cursor: pointer;
}

#add__image form button {
  padding: 0.5rem 5rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  background-color: rgba(235, 84, 106, 0.9);
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: snow;
  cursor: pointer;
}

#exit__modal {
  height: 5vh;
  cursor: pointer;
}

#add__image div {
  width: 30rem;
  display: flex;
  justify-content: flex-end;
}

#display__photos img {
  height: 30vh;
  width: 30rem;
  margin: 1rem;
  border: 0.7rem groove snow;
  border-radius: 0.5rem;
}

#display__photos {
  padding: 1rem 4rem;

  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
}
